@import url('https://fonts.googleapis.com/css?family=Raleway:700,300');

@font-face {
                          font-family: "HKGrotesk-Regular";
                          src: url('../fonts/HKGrotesk-Regular.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "HKGrotesk-Medium";
                          src: url('../fonts/HKGrotesk-Medium.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "HKGrotesk-Light";
                          src: url('../fonts/HKGrotesk-Light.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "HKGrotesk-SemiBold";
                          src: url('../fonts/HKGrotesk-SemiBold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "HKGrotesk-Bold";
                          src: url('../fonts/HKGrotesk-Bold.otf') format("opentype");
                        }
                        
.bp1-a404 {
  width               : 100%;
  min-width           : 1200px;
  height              : 100vh;
  min-height          : 740px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.bp1-a404 .bp1-text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 182px;
  height              : 298px;
  width               : 480px;
  position            : absolute;
  margin              : 0;
  left                : 190px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-a404 .bp1-text .bp1-gohome {
  background-color    : rgba(255,255,255,0.0);
  top                 : 223px;
  height              : 75px;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.1s ease-in-out;
}
.bp1-a404 .bp1-text .bp1-gohome:hover {
  color               : rgba(223,133,61,1);
}
.bp1-a404 .bp1-text .bp1-gohome .bp1-gohome1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HKGrotesk-SemiBold", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(102, 64, 64, 1.0);
  text-align          : left;
  line-height         : 48.0px;
}
.bp1-a404 .bp1-text .bp1-gohome .bp1-rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 75px;
  width               : 225px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-a404 .bp1-text .bp1-a404error {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 480px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HKGrotesk-Bold", Helvetica, Arial, serif;
  font-size           : 92.8px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 112.0px;
}
.bp1-a404 .bp1-text .bp1-oopslookslooksli {
  background-color    : rgba(255,255,255,0.0);
  top                 : 107px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HKGrotesk-Regular", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(105, 105, 105, 1.0);
  text-align          : left;
  line-height         : 48.0px;
}
.bp1-a404 .bp1-group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 142px;
  height              : 452px;
  width               : 244px;
  position            : absolute;
  margin              : 0;
  left                : 775px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.bp1-a404 .bp1-copyright2512020ali {
  background-color    : rgba(255,255,255,0.0);
  top                 : 711px;
  height              : 19px;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 406px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "HKGrotesk-Regular", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(75, 75, 75, 1.0);
  text-align          : left;
  line-height         : 19.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}